button {
    border: none;
    padding: 1rem;
    color: $dark;
    background: $accent_purple;
    transition: background 0.25s ease;
    font-size: 15px;
    //font-weight: light;
    font-family: Geneva, Tahoma, sans-serif;
   //font-family: 'Hip Pocket', sans-serif;
   //letter-spacing: 1.25;

    &:disabled {
        opacity: 0.5;
    }

    &.full {
        width: 100%;
    }

    &:hover,
    &:active {
        background: $accent_pink;
    }

    &.accent-box {
        font-family: 'Hip Pocket', sans-serif;
        color: $dark;
        font-size: 20px;
    }

    &.inline {
        background: $dark_secondary;
        color: $accent_purple;
        width: 100%;

        &.transparent {
            background: transparent;

        }

        &.right {
            width: 100%;
            text-align: right;
            padding-right: 0;
        }
    }
}