button {
    border: none;
    padding: 1rem;
    color: $dark;
    background: $accent_purple;
    transition: background 0.25s ease;
    font-size: 16px;
    font-weight: light;
    font-family: Geneva, Tahoma, sans-serif;

    &:disabled {
        opacity: 0.5;
    }

    &.full {
        width: 100%;
    }

    &:hover,
    &:active {
        background: $accent_pink;
    }

    &.accent-box {
        font-family: 'Hip Pocket', sans-serif;
        color: $dark;
    }

    &.inline {
        background: transparent;
        color: $accent_purple;
        width: 100%;
    }

    &[type=submit] {
        background: transparent;
        color: $accent_purple;
        font-size: 24px;
    }
}