@import 'variables';
@import 'button';
@import 'input';
@import 'bottom-bar';

body {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: $dark;
    color: $light;
}

a {
    text-decoration: none;
    color: $accent_purple;
    &:active,
    &:hover {
        color: $accent_pink;
    }
}

header {
    padding: 1rem;
    padding-bottom: 0;
    text-align: center;

}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $dark;
    transition: opacity 0.5s ease;
    z-index: 1;

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    h1 {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        transition: color 1s ease;
        animation: changeColor 3s ease infinite;
    }
}

h1,
h2 {
    font-family: 'Hip Pocket', sans-serif;
    color: white;
    font-size: 3rem;
    margin: 0;

}

h2 {
    font-size: 2rem;
}

.hidden {
    opacity: 0;
    transition: opacity 1s ease;
    height: 0;
    display: none;
}

.vote {
    max-width: 30rem;
    padding: 1rem;
    margin: 0 auto;

    #options {
        div {
            position: relative;
        }
    }
}

.options-container {
    margin-bottom: 4rem;
    margin-top: 1rem
}


.message {
    color: $message;
    text-align: center;

    &.left {
        text-align: left;
    }
}

#result {


    h2 {
        color: $dark;
    }
}

form {
    width: 100%;
    display: flex;
    background: $dark_secondary;

    input[type=text] {
        width: 100%;
    }

    input[type=submit] {
        background: $accent_pink !important;
        color: $dark;
        font-size: 24px;
    }
}

.spacer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.spacer-bottom {
    margin-bottom: 1rem;
}

.right {
    text-align: right;
}

.accent-box {
    text-align: center;
    //position: fixed;
    margin: 1rem auto 3rem auto;
    background: $dark_secondary;
    padding: 4rem;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    animation: changeBackground 3s ease infinite;
    max-width: 18rem;

    &--block {
        width: auto;
        width: 100%;
        max-width: inherit;
    }

    button {
        font-family: 'Hip Pocket', sans-serif;
        color: $dark;
        font-size: 20px;
        background: transparent;
    }
}

@keyframes changeColor {
    0% {
        color: $accent_purple;
    }

    25% {
        color: $accent_pink;
    }

    50% {
        color: $light;
    }

    75% {
        color: $accent_pink;
    }

    100% {
        color: $accent_purple;
    }
}

@keyframes changeBackground {
    0% {
        background: $accent_purple;
    }

    50% {
        background: $accent_pink;
    }

    100% {
        background: $accent_purple;
    }
}